---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Tarjeta from "../components/Tarjeta.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- frame del primer jumtbotron -->
	<div>
		<div>
			<!-- frame de la nav var -->
		</div>

		<div>
			<!--segundo frame (frame 16) -->
			<div></div><!--frame 11 -->
			<div>
				<div>
					<!--frame 10 -->
					<div>
						<!--frame 8 -->
						<p>LO IDEAL PARA EL GANADERO VENEZOLANO</p>
						<p>insumos agropecuarios y medicina veterinaria</p>
					</div>
					<div>
						<!--frame 9 -->
						<button>COMPRAR AHORA</button>
					</div>
					<div>
						<!--frame 7 -->
						<button>VER PRODUCTOS</button>
					</div>
				</div>
				<div>
					<!--frame 14 -->
					<!--rectangulo con imagen del caballo de fondo -->
				</div>
				<!--flechita con vecor -->
			</div>
		</div>
	</div>

	<!---------------------------->
	<!-- frame de las cards -->
	<div>
		<div>
			<Tarjeta
				title="NITROFURANTOINA"
				empresa="CALOX"
				description="La nitrofurantoina se utiliza para tratar las infecciones del tracto urinario"
				imageUrl="/nitro.jpg"
			/>
			<Tarjeta 
				title="AFTOVAC"
				empresa="CALA"
				description="Vacuna contra la fiebre aftosa"
				imageUrl="/aftovac.jpg"
			/>
			<Tarjeta 
				title="BENZAPROC"
				empresa="SERVINSUMOS"
				description="ANTIBIÓTICO DE INMEDIATA, PERSISTENTE Y LARGA ACCIÓN"
				imageUrl="/benzaproc.webp"
			/>
			
			<div>
				<!-- frame del segundo jumtbotron -->
				<div>
					<!-- frame 16 -->
					<div>
						<div>
							<p>
								ADQUIERE LOS MEJORES PRODUCTOS VETERINARIOS EN
								UNA GAMA TOTAL
							</p>
							<img
								src="c:\Users\sanje\Downloads\pexels-souvenirpixels-1576738-removebg-preview.png"
								alt=""
							/><!-- ellipse 1-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>
