---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	

    <!-- frame del primer jumtbotron -->
    <div>
        <div>
            <!-- frame de la nav var -->
			 
        </div>

        <div><!--segundo frame (frame 16) -->
			<div></div><!--frame 11 -->
			<div>
				<div><!--frame 10 -->
					<div><!--frame 8 -->
						<p>LO IDEAL PARA 
							EL GANADERO 
							VENEZOLANO
						</p>
						<p>insumos agropecuarios y medicina veterinaria</p>
					</div>
					<div><!--frame 9 -->
						<button>COMPRAR AHORA</button>
					</div>
					<div><!--frame 7 -->
						<button>VER PRODUCTOS</button>
					</div>
				</div>
				<div><!--frame 14 -->
					<!--rectangulo con imagen del caballo de fondo -->
				</div>
				<!--flechita con vecor -->
			</div>
		</div>
    </div>
    
		<!---------------------------->
        <!-- frame de las cards -->
    <div>
        <div>
            <div><!--11(1) -->
				<img src=https://th.bing.com/th/id/OIP.PJnMdY66d2FyqWjhm_h0PQHaHa?rs=1&pid=ImgDetMain alt="">
				<div><!-- contetns -->
					<div><!-- frame 259 -->
						<p>NITROFURANTOINA </p>
						<p>CALOX</p>
					</div>
					<p>La nitrofurantoina se utiliza para tratar las infecciones del tracto urinario</p>
					<!-- rectangle 10 -->
					 <!-- tag-->
			</div>
			<div><!--11(2) -->
				<img src=https://th.bing.com/th/id/OIP.BAku8-1XgKWkNK5NrDKaZgHaNJ?rs=1&pid=ImgDetMain alt="">
				<div><!-- contetns(2) -->
					<div><!-- frame 259(2) -->
						<p>AFTOVAC </p>
						<p>CALA</p>
					</div>
					<p>Vacuna contra la fiebre aftosa

					</p>
					<!-- rectangle 10(2) -->
					 <!-- tag(2)-->
			</div>
			<div><!--11(1) -->
				<img src=https://lirp.cdn-website.com/a802cbd7/dms3rep/multi/opt/12-c949b07a-1920w.png alt="">
				<div><!-- contetns(3) -->
					<div><!-- frame 259(3) -->
						<p>BENZAPROC </p>
						<p>SERVINSUMOS</p>
					</div>
					<p>ANTIBIÓTICO DE INMEDIATA, PERSISTENTE Y LARGA ACCIÓN
					</p>
					 <!-- rectangle 10(3) -->
					 <!-- tag(3)-->
			</div>
        </div>
    </div>
        <!-- frame del segundo jumtbotron -->
         <div>
            <div></div>
         </div>

        <!-- frame del fotter -->
         <div>
            <div></div>
            <div></div>
         </div>






</Layout>
