---
import Layout from "../layouts/Layout.astro";

---


<Layout>
    <form action="">
        <input type="email" name="" id="" placeholder="correo">
        <input type="password" placeholder="contraseña">
        <button type="submit">iniciar sesion</button>

    </form>
</Layout>

