<div>
    <h3>titulo de la tarjeta</h3>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo tempora asperiores laborum reiciendis voluptatum dolores magni vero consequatur. Sunt eum omnis ex vitae magni et saepe quo eius esse quis.</p>
    <button>ver mas</button>
</div>