---
import "../styles/global.css";
import { Icon } from 'astro-icon/components';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="navbar">

			<!-- frame de la nav var -->
			<ul class="navbar__list">
				<img src="/logo.png" alt="" class="navbar__icon">
				<li> <a href="/acerca_de">acerca de</a> </li>
				<li><a href="/">inicio</a></li>
				<li> <a href="/comunidad">comunidad</a></li>
				<li><a href="/catalogue">catalogo</a></li>
				<Icon name="mdi:user" class="navbar__icon" />
				<button><a href="/login">iniciar sesion</a></button>

			</ul>
		</div>
		<hr style="margin: 2rem 0; border: none; border-top: 1px solid #0d0d0d;" />
		<slot />
		<!-- frame del fotter -->
		<div>
			<div class="fotter"> <!-- frame 263 -->
				
						<div><!-- frame 260 -->
							<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik02LjYyIDEwLjc5YzEuNDQgMi44MyAzLjc2IDUuMTQgNi41OSA2LjU5bDIuMi0yLjJjLjI3LS4yNy42Ny0uMzYgMS4wMi0uMjRjMS4xMi4zNyAyLjMzLjU3IDMuNTcuNTdjLjU1IDAgMSAuNDUgMSAxVjIwYzAgLjU1LS40NSAxLTEgMWMtOS4zOSAwLTE3LTcuNjEtMTctMTdjMC0uNTUuNDUtMSAxLTFoMy41Yy41NSAwIDEgLjQ1IDEgMWMwIDEuMjUuMiAyLjQ1LjU3IDMuNTdjLjExLjM1LjAzLjc0LS4yNSAxLjAyeiIvPjwvc3ZnPg==" alt="">
							<p>(+58)0424-440-4940</p>
						</div>
						<div><!-- frame 261 -->
							<img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik00IDIwcS0uODI1IDAtMS40MTItLjU4N1QyIDE4VjZxMC0uODI1LjU4OC0xLjQxMlQ0IDRoMTZxLjgyNSAwIDEuNDEzLjU4OFQyMiA2djEycTAgLjgyNS0uNTg3IDEuNDEzVDIwIDIwem04LTdMNCA4djEwaDE2Vjh6bTAtMmw4LTVINHpNNCA4VjZ2MTJ6Ii8+PC9zdmc+" alt="">
							<p>inversionesvetglobalca@gmail.com</p>
						</div>
						<div><!-- frame 262 -->
							<Icon name="mdi:location-on-outline" width={32} class="navbar__icon" />
							<p>ubicanos</p>
						</div>
					<div> <!-- frame 4 -->
						<Icon name="mdi:instagram"width={32} class="navbar__icon" />
						<hr style="margin: 2rem 0; border: none; border-top: 1px solid #0d0d0d;" />
						<Icon name="mdi:facebook" width={32} class="navbar__icon" />
						<hr style="margin: 2rem 0; border: none; border-top: 1px solid #0d0d0d;" />
						<Icon name="mdi:whatsapp" width={32} class="navbar__icon" /> 
					</div>
		</div>
			<footer>
				<p>© 2023 VetGlobal. Todos los derechos reservados.</p>
				<p>Desarrollado por <a href="" target="_blank">Tu Nombre</a></p>
			</footer>
		</div>
	</body>
</html>

<style>
	.navbar__list {
		display: flex;
		justify-content: space-between;
	}

</style>
