---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="navbar">
			<!-- frame de la nav var -->
			<ul class="navbar__list">
				<img src="https://ugc.production.linktr.ee/a7ec7cba-1dcb-4c3f-94b3-f55232800f30_VETGLOBAL-LOGO-JPG.jpeg?io=true&size=avatar-v1_0" alt="">
				<li> <a href="/acerca_de">acerca de</a> </li>
				<li><a href="/">inicio</a></li>
				<li> <a href="/comunidad">comunidad</a></li>
				<li><a href="/catalogue">catalogo</a></li>
				<button><a href="/login">iniciar sesion</a></button>
			</ul>
		</div>
		<slot />
	</body>
</html>

<style>
	.navbar__list {
		display: flex;
		justify-content: space-between;
	}

</style>
